
main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  /* Set a fixed height */
  overflow: hidden;
  /* Hide overflow content */
  text-overflow: ellipsis;
  /* Add ellipsis for long text */
  white-space: nowrap;
  /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}

.image-thumnail-home {
  width: 100%;
  height: 237px;
  object-fit: cover;
  object-position: center;
}

.image-thumnail-detail {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.image-thumnail-cart {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Styling the carousel indicators */
.carousel-indicators {
  bottom: 15px;
}

.carousel-indicators {
  bottom: 15px;
}

.carousel-indicators button {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #999;
  border: none;
  cursor: pointer;
  outline: none;
}

.carousel-indicators .active {
  background-color: #455360; /* Active dot color */
}
